* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  color: rebeccapurple;
}
#countdown {
  display: flex;
  flex-direction: row-reverse;
}
/* Center the Button and the content */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.welcome {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
.start {
  display: flex;
}
.pcontent {
  text-align: center;
  font-size: 2rem;
  color: rebeccapurple;
}

#countdown {
  border-color: yellow;
}
/*            Ends Here */

h1 {
  font-size: 3rem;
  color: rebeccapurple;
}

#indexButton {
  /* increase the size of the button */
  color: rebeccapurple;
  height: 54px;
  width: 175px;
  background-color: lavender;
}

#questioncontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-size: 10rem;
}
#D:hover {
  cursor: pointer;
  box-shadow: 0 0.6rem 1.4rem 0 rebeccapurple;
}
#A:hover {
  cursor: pointer;
  box-shadow: 0 0.6rem 1.4rem 0 rebeccapurple;
}
#B:hover {
  cursor: pointer;
  box-shadow: 0 0.6rem 1.4rem 0 rebeccapurple;
}
#C:hover {
  cursor: pointer;
  box-shadow: 0 0.6rem 1.4rem 0 rebeccapurple;
}
#options {
  margin: 150px;
  font-size: 1rem;
}
#A,
#B,
#C,
#D {
  margin: 0.1rem;
  border: 0.1rem solid rebeccapurple;
  background-color: rebeccapurple;
  color: white;
}
.choice-text {
  padding: 1rem 1rem;
}
#question {
  margin: 3rem;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rebeccapurple;
}
.correct {
  color: rebeccapurple;
  text-align: center;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
.incorrect {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
  font-size: large;
}

#divBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#name {
  border-color: rebeccapurple;
}
label {
  color: rebeccapurple;
}
#demo:hover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(253, 155, 253, 0.062);
  margin:10px 10px 10px 10px;
  
  font-size: xx-large;
}
#flex {
  display:flex;
  flex-direction: column;
  align-items: center;
}
#printScore{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
#order:hover{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:rebeccapurple;
  font-size: xx-large;
  background-color: rgba(156, 48, 156, 0.062);
  
}